<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.art.dao.UserInfoMapper">

    <insert id="insert" parameterType="boot.art.model.UserInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userinfo(name,age) VALUES(#{name},#{age})
    </insert>

    <!--<update id="update" parameterType="PersonDO">-->
        <!--UPDATE person SET name=#{name},age=#{age} WHERE id=#{id}-->
    <!--</update>-->

    <!--<delete id="delete" parameterType="java.lang.Long">-->
        <!--DELETE FROM person WHERE id=#{id}-->
    <!--</delete>-->

    <!--<select id="selectPersonById" resultType="PersonDO">-->
        <!--select * from person where id = #{id}-->
    <!--</select>-->

    <select id="selectById" resultType="boot.art.model.UserInfo" parameterType="java.util.Map" >
        SELECT id,name,age FROM userinfo
        <where>
            id=#{queryId}
        </where>
    </select>

</mapper>